body {
    line-height: 1;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#header {
    background-color:navy;
    color: white;
    margin: 0 auto;
    padding: 1em;
    width: 960px;
}
#header .section {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#header .section .logo {
    float: left;
    margin: 0;
    padding: 60px 0 0 10px;
    width: 324px;
}
#header .section .logo a {
    color: #fff;
    display: block;
    font-family: 'Arimo-Bold';
    font-size: 60px;
    font-weight: normal;
    height: 130px;
    line-height: 130px;
    margin: 0;
    padding: 0;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    width: 270px;
}
#header .section ul {
    display: inline-block;
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 114px 0 0;
}
#header .section ul li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}
#header .section ul li a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    letter-spacing: 0.05em;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#header .section ul li a:hover {
    color: #ccc;
}
#header .article {
    background: #fff;
    border: 2px solid #5fb3bd;
    border-radius: 4px;
    margin: 50px auto 28px;
    overflow: hidden;
    padding: 0;
    width: 936px;
}
#header .article img {
    display: block;
    float: left;
    margin: 0 50px 0 0;
    padding: 0;
}
#header .article h1 {
    color: #1b2130;
    font-family: 'ChangaOne';
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    line-height: 50px;
    padding: 110px 30px 30px;
}
#body {
    margin: 0 auto;
    min-height: 812px;
    padding: 20px 0 50px;
    width: 960px;
}
#body > ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#body > ul li {
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 220px;
}
#body > ul li > a {
    display: block;
    margin: 0;
    padding: 5px 5px 29px;
}
#body > ul li > a:hover {
    opacity: 0.9;
}
#body > ul li > a img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
#body > ul li b {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 5px;
    text-transform: capitalize;
}
#body > ul li p {
    color: #464646;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
#body > ul li p a {
    color: #464646;
    text-decoration: underline;
}
#body > ul li p a:hover {
    color: #252525;
}
#body > div {
    margin: 0;
    overflow: hidden;
    padding: 50px 0 0;
}
#body > .more {
    color: #464646;
    display: block;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    width: 80px;
}
#body > .more:hover {
    color: #4a8b92;
}
#body h2 {
    color: #fff;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    font-weight: normal;
    height: 47px;
    letter-spacing: 0.1em;
    left: 15px;
    line-height: 47px;
    margin: 0;
    padding: 0 25px;
    position: absolute;
    text-transform: capitalize;
    top: -14px;
}
#body h3 {
    color: #2f394e;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 25px 10px 40px;
    text-transform: capitalize;
}
#body > b {
    color: #2f394e;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0 10px;
    text-transform: capitalize;
}
#body > p {
    color: #464646;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 30px 10px;
}
#body > p a {
    color: #464646;
    text-decoration: underline;
}
#body > p a:hover {
    color: #252525;
}
#body div div {
    float: left;
    margin: 0 10px;
    padding: 0;
}
#body div .featured {
    background: #fff;
    border: 5px solid #5fb3bd;
    border-radius: 4px;
    min-height: 450px;
    padding: 45px 15px 15px;
    position: relative;
    width: 420px;
}
#body div .featured h2 {
    text-align: center;
}
#body div .featured h3 {
    color: #354057;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 0;
    text-transform: none;
}
#body div .featured img {
    display: block;
    float: left;
    margin: 10px 30px 25px 0;
    padding: 0;
}
#body div .featured p {
    clear: both;
    color: #464646;
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 24px;
    padding: 0;
}
#body div .featured p a {
    color: #464646;
}
#body div .featured p a:hover {
    color: #252525;
}
#body div .section {
    width: 460px;
}
#body div .section div {
    background: #519194;
    border: 5px solid #5fb3bd;
    border-radius: 4px;
    float: none;
    margin: 0;
    padding: 0 15px;
    position: relative;
}
#body div .section .article {
    height: 183px;
    margin-bottom: 25px;
    padding: 55px 15px 20px;
    text-align: right;
}
#body div .section .article h2 {
    text-align: left;
}
#body div .section .article h2 a {
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    width: 31px;
}
#body div .section .article p {
    color: #f5f5f5;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    padding: 20px 0px;
    text-align: left;
}
#body div .section .article p a {
    color: #f5f5f5;
    text-decoration: underline;
}
#body div .section .article p a:hover {
    color: #97d0d3;
}
#body div .section .article > a {
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}
#body div .section .article > a:hover {
    color: #97d0d3;
}
#body div .section .newsletter {
    height: 168px;
    padding: 30px 15px 19px 214px;
    position: relative;
}
#body div .section .newsletter img {
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -13px;
    z-index: 5;
}
#body div .section .newsletter p {
    color: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
#body div .section .newsletter p span {
    display: block;
}
#body div .section .newsletter form {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#body div .section .newsletter form span {
    color: #f5f5f5;
    clear: both;
    display: block;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 30px;
    margin: 0;
    padding: 0 0 4px;
    text-transform: capitalize;
    text-shadow: 0 -1px 0 #285f62;
}
#body div .section .newsletter form input {
    border: 0;
    display: block;
    float: left;
    height: 30px;
    margin: 0;
    padding: 0;
}
#body div .section .newsletter form #email {
    background-position: -399px -72px;
    color: #68a7aa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    width: 130px;
}
#body div .section .newsletter form #send {
    background-position: -399px -110px;
    text-indent: -99999px;
    width: 80px;
}
#body > .article {
    margin: 0;
    padding: 0;
}
#body > .article b {
    color: #2f394e;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    padding: 0 10px 15px;
    text-transform: capitalize;
}
#body > .article p {
    color: #464646;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0 10px;
}
#body > .article p a {
    color: #464646;
    text-decoration: underline;
}
#body > .article p a:hover {
    color: #252525;
}
#body > .article ul {
    margin: 0;
    padding: 30px 0 30px 10px;
}
#body > .article ul li {
    color: #464646;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#body > .article ul li a {
    color: #464646;
    text-decoration: none;
}
#body > .article ul li a:hover {
    color: #252525;
}
#body > .article h3 {
    padding-bottom: 20px;
}
#body .blog {
    padding: 0;
}
#body .content {
    float: left;
    margin: 0 35px 0 10px;
    padding: 0;
    width: 585px;
}
#body .content h3 {
    padding-bottom: 25px;
    padding-left: 0;
}
#body .content p {
    color: #464646;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px;
}
#body .content p a {
    color: #464646;
    text-decoration: underline;
}
#body .content p a:hover {
    color: #252525;
}
#body .sidebar {
    float: right;
    margin: 0 10px 82px 0;
    padding: 0;
    width: 320px;
}
#body .sidebar h3 {
    color: #2f394e;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 25px 10px;
    text-align: center;
    text-transform: capitalize;
}
#body .sidebar ul {
    margin: 0;
    padding: 0 20px 50px;
}
#body .sidebar ul li {
    list-style: none;
    margin: 0;
    padding: 0 0 24px;
}
#body .sidebar ul li span {
    color: #2f394e;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
#body .sidebar ul li span a {
    color: #2f394e;
    text-decoration: none;
}
#body .sidebar ul li span a:hover {
    color: #4c8f97;
}
#body .sidebar ul li p {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
#body .sidebar ul li p a {
    color: #000;
    text-decoration: underline;
}
#body .sidebar ul li p a:hover {
    color: #4c8f97;
}
#footer {
    background-color: lightblue;
    border-top: 1px solid #9bd9e0;
    margin: 0;
    padding: 0;
}
#footer > div {
    margin: 0 auto;
    padding: 30px 0 28px;
    overflow: hidden;
    text-align: center;
    width: 960px;
}
#footer div p {
    color: #ededed;
    display: inline-block;
    float: right;
    font-size: 12px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 27px 0 0;
    text-align: center;
}
#footer div .connect {
    background: #387a82;
    float: right;
    height: 18px;
    margin: 0 20px 0 150px;
    padding: 22px 20px;
    overflow: hidden;
    width: 144px;
}
#footer div .connect span {
    color: #ededed;
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 19px;
    line-height: 21px;
    margin: 0;
    padding: 0 0 0 39px;
}
#footer div .connect a {
    display: block;
    float: left;
    height: 20px;
    margin: 0 8px;
    padding: 0;
    text-indent: -99999px;
    width: 20px;
}
#footer div .connect #twitter {
    background-position: 0 -32px;
}
#footer div .connect #twitter:hover {
    background-position: -25px -32px;
}
#footer div .connect #facebook {
    background-position: 0 -57px;
}
#footer div .connect #facebook:hover {
    background-position: -25px -57px;
}
#footer div .connect #googleplus {
    background-position: 0 -82px;
}
#footer div .connect #googleplus:hover {
    background-position: -25px -82px;
}
#footer div .connect #pinterest {
    background-position: 0 -107px;
}
#footer div .connect #pinterest:hover {
    background-position: -25px -107px;
}
