<label>Ticker</label>
<input class="form-control" type="text" [(ngModel)]="ticker"/>

<label>Number of Days</label>
<input class="form-control" type="text" [(ngModel)]="numDays"/>

<button class="btn btn-primary" (click)="getPriceData()">Get Price Data</button>

<hr>

<table class="table table-striped">
    <thead>
        <th>Date</th>
        <th>Price (USD)</th>
    </thead>
    <tr *ngFor="let price of priceData">
        <td>{{ price[0] }}</td>
        <td>{{ price[1] }}</td>
    </tr>
</table>
